html {
  scroll-behavior: smooth;
  transition: ease-out 2s;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: rgb(0, 0, 0);
}
header.scrolled {
  background-color: rgb(22, 22, 22);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
}

header ul {
  margin-top: 20px;
  list-style: none;
  display: flex;
}
* {
  font-family: "Poppins", Sans-serif;
  transition: all 0.5s;
}
li {
  font-size: x-large;
  transition: all 0.2s;
}
header li:not(.options li) {
  color: #fff;
  margin: 0 15px 0 15px;
}
header h1 {
  font-size: 2em;
  color: #fff;
}
.front {
  background: url(images/top-view-dark-stylish-workplace-with-smartphone-office-supplies_67155-2963.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(22, 22, 22);
  color: #fff;
}
main {
  padding: 130px 0 200px 100px;
  opacity: 0;
  transform: translateX(-150px);
  transition: all 1s;
}
main h1 {
  color: var(--e-global-color-text);
  font-family: "Poppins", Sans-serif;
  margin: 10px 0 10px 0;
  font-size: 80px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1px;
  word-spacing: 0px;
  color: #fff;
}
main h2 {
  font-family: "Poppins", Sans-serif;
  font-size: 70px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1px;
  word-spacing: 0px;
  margin: 0;
  color: #fff;
}
main p {
  font-size: 2em;
  color: #fff;
}
main button {
  width: 150px;
  height: 60px;

  font-size: 1.5em;
  color: #fff;
  background-color: rgb(0, 0, 0);
  border: none;
}

article {
  width: 50%;
  padding: 90px 10px 100px 100px;
}

article img {
  width: 100%;
  opacity: 0;
  transform: translateX(150px);
  transition: all 1s;
}
.icon {
  display: none;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

/* Styles for the options list */
.options {
  display: flex;
  flex-direction: column;
  transform: translateY(-290px);
  opacity: 0;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style: none;
  z-index: 1;
  transition: all 1s;
}
.options li {
  margin-left: 0;
  cursor: pointer;
  text-align: center;
  padding: 5px 15px 5px 15px;
  color: black;
}
.options li:hover {
  background-color: #f0f0f0;
}

/* Show the options list when the icon or the options list is hovered */
.icon:hover + .options,
.options:hover {
  opacity: 1;
  transform: translateY(0px);
}
.types ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}
.types ul li {
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  text-align: center;
  max-width: 350px;
  opacity: 0;

  transition: all 1s;
  justify-content: center;
  min-width: 300px;
  background-color: rgb(37, 37, 37);
}
.types ul li::before {
  content: " ";
  display: flex;
  background-color: rgb(67, 67, 255);
  width: 60px;
  position: absolute;
}

.types {
  background-color: rgb(17, 17, 17);
  padding: 50px 0 50px 0;
}
.types h1 {
  text-align: center;
  opacity: 0;

  transition: all 1s;
}
.types ul li img {
  border-radius: 50%;
  max-height: 90px;
  max-width: 100px;
  margin-top: 10px;
}
.types ul li p {
  margin-top: 0;
  color: #fff;
}
.description {
  text-align: justify;
  font-size: 0.7em;
  padding: 0 20px 10px 20px;
  word-spacing: normal;
  color: #fff;
}
.ABOUT {
  display: flex;
  flex-wrap: wrap;
  padding: 90px 10px 100px 100px;
  background-color: rgb(22, 22, 22);
  color: #fff;
  justify-content: space-around;
}
.ABOUT img {
  height: 400px;
  width: 300px;
  transition: all 2s;
  transform: translateX("-150px");
  opacity: 0;
}
.ABOUT .bio {
  width: 50%;
  text-align: justify;
  transition: all 2s;
  transform: translateX("150px");
  opacity: 0;
}
h1 {
  color: rgb(247, 110, 0);
}
.projects h1 {
  text-align: center;
  transition: all 1s;
}
.projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.projects ul li {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  width: 350px;
  transition: all 1s;
  border-radius: 20px;
  height: 200px;
  min-width: 300px;
  background-color: rgb(37, 37, 37);
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.projects img {
  width: 100%;
  height: 100%;
}
.readme {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.8);

  transition: all 0.5s;

  opacity: 0;
}
.readme p {
  font-size: small;
  padding: 10px 10px 10px 10px;
  color: #fff;
  text-align: justify;
}
li:hover img {
  filter: blur(10px);
}

li:hover .readme {
  height: 75%;
  opacity: 1;
}
@media (max-width: 800px) {
  .icon {
    display: block;
  }
  header li:not(.phone) {
    display: none;
  }
  .projects ul li {
    width: 90%;
    height: 300px;
    margin: 0;
  }
  .ABOUT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .ABOUT .bio {
    width: 90%;
  }
  main h1 {
    font-size: 2em;
  }
  main h2 {
    font-size: 2em;
    line-height: 12px;
    letter-spacing: -1px;
  }
  main p {
    font-size: 1em;
  }
  main {
    padding-left: 10px;
  }
  .types ul li {
    margin-top: 0;
    row-gap: 20px;
    color: #fff;
    width: 80%;
  }
  .types ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .options {
    position: absolute;
    right: 10px;
  }
}
